// Orange
// Main TIM Color, use for buttons, switcher, neutral active elements
$flamingo: #F36C24;
// Pale TIM Color, use as as a highlight background
$cinderella: #FDE2D3;
// Pair TIM Color, use as background
$sun: #F9B816;

// Dark
$blackPearl: #09182D;
$mineShaft: #222222;

// White
$white: #FFFFFF;

// Green
$greenLeaf: #417505;
$feijoa: #ACD280;
$snowyMint: #BEFEC5;
$hintOfGreen: #E7FFEA;

// Red
// Bad red, use to indicate something negative
$monza: #D0021C;
$pippin: #FFE7EA;
$pastelPink: #FFCED3;

// Gray
$dustyGray: #979797;
$silver: #BCBCBC;
$mercury: #E5E5E5;

// Blue
$whitePointer: #FBF2FF;
$titanWhite: #E8E8FF;