// Orange
// Main TIM Color, use for buttons, switcher, neutral active elements
$flamingo: #f36c24;
// Pale TIM Color, use as as a highlight background
$cinderella: #fde2d3;
// Pair TIM Color, use as background
$sun: #f9b816;

// Dark
$black-pearl: #09182d;
$mine-shaft: #222;

// White
$white: #fff;

// Green
$green-leaf: #417505;
$feijoa: #acd280;
$snowy-mint: #befec5;
$hint-of-green: #e7ffea;

// Red
// Bad red, use to indicate something negative
$monza: #d0021c;
$pippin: #ffe7ea;
$pastel-pink: #ffced3;

// Gray
$dusty-gray: #979797;
$silver: #bcbcbc;
$mercury: #e5e5e5;

// Blue
$white-pointer: #fbf2ff;
$titan-white: #e8e8ff;
